@import '/css/normalize.css';

:root {
	--color-soft-orange: hsl(35, 77%, 62%);
	--color-soft-red: hsl(5, 85%, 63%);
	--color-off-white: hsl(36, 100%, 99%);
	--color-grayish-blue: hsl(233, 8%, 79%);
	--color-dark-grayish-blue: hsl(236, 13%, 42%);
	--color-very-dark-blue: hsl(240, 100%, 5%);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Fraunces', serif;
	font-family: 'Inter', sans-serif;
	font-size: 1.5rem;
	color: var(--color-dark-grayish-blue);
	font-weight: 500;
}

h3 {
	font-size: 2rem;
}

p {
	margin-top: 0;
	font-weight: 300;
}

a {
	text-decoration: none;
}

/* Container */
.container {
	display: flex;
	justify-content: center;
	max-width: 1140px;
	margin: 0 auto;
	padding: 2rem;
}

/* Navbar */
.nav {
	background: var(--color-off-white);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1rem 2rem;
	align-items: center;
}

.nav__list {
	width: 100%;
	margin-top: 1rem;
}

.nav__item {
	text-align: end;
	padding: 2rem 2rem;
	border-bottom: 1px solid #222;
	transition: all 0.3s;
}

.nav__item > a {
	text-decoration: none;
	color: var(--color-very-dark-blue);
	transition: all 0.3s;
}
.nav__item > a:hover {
	color: var(--color-soft-red);
	font-weight: 500;
}

.nav__toggler {
	opacity: 0.5;
	transition: box-shadow 0.15s;
	cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
	opacity: 1;
	/* box-shadow: 0 0 px 3px #666; */
	border-radius: 5px;
}

.nav__brand {
	transform: translateY(5px);
}

@media screen and (min-width: 768px) {
	.nav__toggler {
		display: none;
	}

	.nav__list {
		width: auto;
		display: flex;
		font-size: 1.6rem;
		max-height: 100%;
		opacity: 1;
	}

	.nav__item {
		border: 0;
	}
}

/* Collapsible */
.collapsible__header {
	display: flex;
	justify-content: space-between;
}

.collapsible__chevron {
	transform: rotate(-90deg);
	transition: 0.3s;
}

.collapsible__content {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
	max-height: 100vh;
	opacity: 1;
}

/* Icons */
.icon {
	width: 40px;
	height: 40px;
}

.icon--primary {
	fill: #222;
}

/* Lists */
.list {
	list-style: none;
	padding-left: 0;
}

.list--inline .list__item {
	display: inline-block;
	margin-right: 2rem;
}

/* Button */
.button {
	background: var(--color-soft-red);
	font-size: 1.2rem;
	color: var(--color-off-white);
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 1.5rem 3.5rem;
	border: 0;
	transition: background 0.3s;
}

button:hover {
	background: var(--color-very-dark-blue);
	cursor: pointer;
}

/* Headings */
h1,
h2,
h3,
h4 {
	color: var(--color-very-dark-blue);
	margin: 0 0 1rem 0;
	line-height: 1;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.5rem;
}
h4 {
	margin-top: 0;
	font-size: 1.5rem;
}

.title-orange {
	color: var(--color-soft-orange);
}

.title-white {
	color: var(--color-off-white);
}

.title-grey {
	color: var(--color-grayish-blue);
}

a .title-white {
	transition: color 0.3s;
}
a .title-white:hover {
	text-decoration: none;
	color: var(--color-soft-orange);
}

/* Grid */
.grid--1x2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: flex-start;
	padding: 1rem;
}

.grid--1x2-card {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-content: flex-start;
	padding: 1rem;
}

.grid--1x2 h1 {
	margin: 0 3rem;
}

.grid--1x2 button {
	margin-top: 3rem;
}

.grid--3x3 {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 768px) {
	.grid--1x3 {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
		align-content: flex-start;
		padding: 1rem;
	}

	.grid--3x3 {
		display: grid;
		gap: 2rem;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 0.5fr 0.5fr;
	}
}

/* Card */
.card__image {
	max-height: 150px;
	max-width: 130px;
}

.card__image img {
	object-fit: cover;
}

.card__info {
	align-self: flex-start;
	margin-left: 1rem;
}

/* Sidebar */
.sidebar {
	padding: 1.5rem;
	background-color: var(--color-very-dark-blue);
	display: flex;
	flex-direction: column;
	max-width: 50rem;
	grid-row: 1 / 3;
}

.sidebar h2 {
	padding-left: 1.5rem;
	margin-bottom: 2rem;
}

.sidebar__article {
	padding: 1.5rem;
}

.sidebar__article-division {
	height: 1px;
	background: var(--color-dark-grayish-blue);
	margin-top: 2.5rem;
}

.image-main {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
}

.image-main img {
	max-width: 50rem;
}

.image-desktop {
	display: none;
}

@media screen and (min-width: 768px) {
	.image-desktop {
		display: block;
	}

	.image-mobile {
		display: none;
	}
}

.article {
	grid-column: 1/3;
	grid-row: 2/3;
}

.articles-row {
	grid-column: 1/4;
	grid-row: 3/3;
}

@media screen and (min-width: 768px) {
	.articles-row {
		display: block;
	}

	.article {
		display: block;
	}

	.sidebar {
		display: block;
	}
}
