<section class="articles-row">
	<div class="grid--1x3 container">
		<div class="grid--1x2">
			<img class="card__image" src="images/image-retro-pcs.jpg" alt="" />
			<div class="card__info">
				<h3 class="title-grey">01</h3>
				<h4>Reviving Retro PCs</h4>
				<p>What happens when old PCs are given modern upgrades?</p>
			</div>
		</div>
		<div class="grid--1x2">
			<img
				class="card__image"
				src="images/image-top-laptops.jpg"
				alt=""
			/>
			<div class="card__info">
				<h3 class="title-grey">02</h3>
				<h4>Reviving Retro PCs</h4>
				<p>What happens when old PCs are given modern upgrades?</p>
			</div>
		</div>
		<div class="grid--1x2">
			<img
				class="card__image"
				src="images/image-gaming-growth.jpg"
				alt=""
			/>
			<div class="card__info">
				<h3 class="title-grey">03</h3>
				<h4>The Growth of Gaming</h4>
				<p>How the pandemic has sparked fresh opportunities</p>
			</div>
		</div>
	</div>
</section>
