<div class="sidebar container">
	<h2 class="title-orange">New</h2>
	<div class="sidebar__article">
		<a href=""><h4 class="title-white">Hydrogen VS Electric Cars</h4></a>
		<p>Will hydrofen-fueled cars ever catch up to EVs?</p>
		<div class="sidebar__article-division"></div>
	</div>
	<div class="sidebar__article">
		<a href=""><h4 class="title-white">The Downsides of AI Artistry</h4></a>
		<p>
			What are the possible adverse effect of on-demand AI image
			generation?
		</p>
		<div class="sidebar__article-division"></div>
	</div>
	<div class="sidebar__article">
		<a href=""><h4 class="title-white">is VC Funding Drying Up?</h4></a>
		<p>
			Private funding by VC firsms is down 50% YOY. We take a look at what
			that means
		</p>
	</div>
</div>
